<ul class="highlight">
	<li>
		<h3><a href="#">Web Development</a></h3>
		<p>If test-taking makes you nervous, don't worry. With this one, there are no wrong answers, only potential matches looking for someone just like you.</p>
	</li>
	<li>
		<h3><a href="#">E-Commerce</a></h3>
		<p>If test-taking makes you nervous, don't worry. With this one, there are no wrong answers, only potential matches looking for someone just like you. </p>
	</li>
	<li>
		<h3><a href="#">SEO</a></h3>
		<p>If test-taking makes you nervous, don't worry. With this one, there are no wrong answers, only potential matches looking for someone just like you. </p>
	</li>
	<li class="last">
		<h3><a href="#">Build Your Own</a></h3>
		<p>If test-taking makes you nervous, don't worry. With this one, there are no wrong answers, only potential matches looking for someone just like you. </p>
	</li>
</ul>
<ul class="intro">
	<li class="first">
    	<h3>Services</h3>
		<ol class="services-list intro-content">
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
		</ol>
	</li>
	<li>
    	<h3>Welcome</h3>
        <div class="intro-content">How can we enhance the capacity of colleges and universities to innovate and adapt in new and ever-changing environments?</div>
    </li>
	<li class="last">
    	<h3>Advantages</h3>
        <div class="intro-content">How can we enhance the capacity of colleges and universities to innovate and adapt in new and ever-changing environments?</div>
    </li>
</ul>
