/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:arial,tahoma;vertical-align:baseline;}
ul,ol {list-style:none;}
li {float:left;}
a {text-decoration:none; color:#808080;font-size:80%;}
.wrapper {width:760px; margin:0 auto;}
.wrapper .container {border:1px solid #ccc; margin-top:20px;}
.container .header {height:80px;}
.container .header .logo {height:40px; width:154px; float:left; margin:15px; border:none;}
.container .header .nav {height:25px; width:320px;float:right; margin:45px 5px 0 0;}
.container .header .nav li { margin:0 5px; height:25px;}
.container .header .nav a {font-weight:bold; display:block; padding-bottom:2px;}
.container .header .nav a:hover {color:#f60; border-bottom:3px solid #f60;}
.container .display {height:250px; background: #fff; text-align:center; margin-bottom:20px;}
.container .content {margin:0 20px 20px;}
.container .content .highlight {height:170px;}
.container .content .highlight li {margin:0 20px 0 0; height:170px; width:164px;}
.container .content .highlight li h3 {font-weight:bold; margin-bottom:15px;}
.container .content .highlight li p {font-size:80%;}
.container .content .highlight .last {margin:0;}
.container .content .intro {height:200px;}
.container .content .intro >li {width:225px; height:200px;margin:0 10px;}
.container .content .intro >.first {margin-left:0;}
.container .content .intro >.last {margin-right:0;}
.container .content .intro .services-list li {float:none; color:#09F; font-weight:bold;}
.wrapper .footer {clear:both; text-align:center;margin:10px 0;}
.container .content .intro li h3 {font-weight:bold; margin-bottom:5px; color:#333;}
.container .content .intro .intro-content {border-top:1px solid #e8e8e8; padding-top:8px; font-size:80%;}

.home .container .header .nav .home a,
.company .container .header .nav .company a,
.services .container .header .nav .services a,
.products .container .header .nav .products a,
.contacts .container .header .nav .contacts a {color:#f60; border-bottom:3px solid #f60;}
